---
layout: default
---
<div class="page-name-holder">
    <span>{{ page.title }}</span>
</div>
<div class="page-content">
    {{ content }}
</div>
<div class="contact-us-form">
    <div class="mb-4">
        <input type="text" class="form-control" id="name" placeholder="John Doe">
    </div>
    <div class="mb-4">
        <input type="email" class="form-control" id="email" placeholder="johndoe@gmail.com">
    </div>
    <div class="mb-3">
        <textarea class="form-control" id="message" rows="6" placeholder="Enter your message"></textarea>
    </div>
    <button class="btn btn-dark-custom">submit</button>
</div>

<form accept-charset="UTF-8" action="https://formkeep.com/p/eae1a6913e30ad31804d6e649ac51664" method="POST">
  <input type="email" name="email" placeholder="Your Email">
  <input type="text" name="name" placeholder="Your Name">
  <input type="hidden" name="utf8" value="✓">
  <button type="submit">Submit</button>
</form>