---
layout: default
---
<div class="page-name-holder">
    <span>Blog</span>
</div>
<div class="blog-page">
    <div class="inner-container">
        <h1 class="blog-page-title">{{ page.title }}</h1>
        <div class="blog-page-details">
            <div class="row align-items-center">
                <dic class="col">
                    <div class="category-tags-holder">
                        <span>Posted on {{page.date | date: '%B %d, %Y'}} in

                            {% if post %}
                            {% assign categories = post.categories %}
                            {% else %}
                            {% assign categories = page.categories %}
                            {% endif %}
                            {% for category in categories %}
                            <a class="category-badge"
                                href="{{site.baseurl}}/categories/#{{category|slugize}}">{{category}}</a>
                            {% unless forloop.last %}&nbsp;{% endunless %}
                            {% endfor %}

                        </span>
                    </div>
                </dic>
                <dic class="col-auto">
                    <div class="blog-page-stats">
                        <span>Reading Time : </span>
                        {% assign words = content | number_of_words %}
                        {% if words < 360 %} 1 min {% else %} {{ words | divided_by:180 }} mins {% endif %} </div>
                </dic>
            </div>
        </div>
        <div class="page-content mt-4">{{ content }}</div>
    </div>
    <div class="footer-page-nav">
        <div class="row align-items-center">
            <div class="col">
                {% if page.next.url %}
                <a class="blog-nav-items" href="{{page.next.url}}">{{page.next.title}}</a>
                {% endif %}
            </div>
            <div class="col text-end">
                {% if page.previous.url %}
                <a class="blog-nav-items" href="{{page.previous.url}}"> {{page.previous.title}}</a>
                {% endif %}
            </div>
        </div>
    </div>

</div>